<a href="https://colab.research.google.com/github/sakhawat67/python-basic-exercise/blob/main/Assignment_on_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment on Python basics**

Submitted by: 






Md Sakhawat Hossain




Roll: 20229041




Section-A

In [20]:
import pandas as pd
import numpy as np

##### 1. Write a Python program to count the number of characters (character frequency) in a string.
Sample String : google.com
Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [9]:
def char_frequency(str1):
    dict={}
    for i in str1:        
        if i in dict:
            dict[i]+=1
        else:
            dict[i]=1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

##### 2. Write a Python program to check if a given key already exists in a dictionary

In [10]:
dict={'a':10,'b':20,'c':30,'d':40,'e':50}
def key_present(x):
    if x in dict:
        print('Key is present in the dictionary')
    else:
        print('Key is not presnet in the dictionary')
key_present('a')
key_present('g')

Key is present in the dictionary
Key is not presnet in the dictionary

##### 3. Write a Python program that accepts a sequence of comma-separated numbers from the
user and generates a list and a tuple of those numbers.
Sample data : 1, 5, 7, 23
Expected Output :

List : ['1', ' 5', ' 7', ' 23']

Tuple : ('1', ' 5', ' 7', ' 23')

In [12]:
numbers=input('inpur comma separated numbers: ')
list= numbers.split(',')
tuple= tuple(list)
# print the list
print('List:' , list)
print('Tuple:' , tuple)

inpur comma separated numbers: 1,5,7,23
List: ['1', '5', '7', '23']
Tuple: ('1', '5', '7', '23')

##### 4. Write a Python program to calculate the number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)

Expected output : 9 days

In [13]:
from datetime import date
date1=date(2014,7,2)
date2=date(2014,7,11)
delta=date2-date1
num_days=delta.days
print('Number of days between', date1, 'and', date2, 'is:', num_days)

Number of days between 2014-07-02 and 2014-07-11 is: 9

##### 5. Write a Python program to solve (x + y) * (x + y).
Test Data : x = 4, y = 3

Expected Output : (4 + 3) ^ 2) = 49

In [14]:
x , y = 4, 3
result=(x+y)**2
print("({}+{}) ^2 = {}".format(x,y,result))

(4+3) ^2 = 49

##### 6. Write a Python program to compute the future value of a specified principal amount,
rate of interest, and number of years.
Test Data : amt = 10000, int = 3.5, years = 7

Expected Output : 12722.79

In [15]:
amt=10000
int=3.5
years=7
future_value=amt*((1+(0.01*int))**years)
print(round(future_value,2))

12722.79

##### 7. Write a Python program that removes duplicate elements from a given array of numbers so
that each element appears only once and returns the new length of the array.
Sample Input: [0,0,1,1,2,2,3,3,4,4,4]

Sample Output:
The list of unique numbers: [0,1,2,3,4]

length of the unique list : 5

In [18]:
numbers=[0,0,1,1,2,2,3,3,4,4,4]
list=set(numbers)
length=len(list)
print('The list of unique numbers:',list)
print('Length of the unique list: ', length)

The list of unique numbers: {0, 1, 2, 3, 4}
Length of the unique list:  5

##### 8. Write a Python program to sort (ascending and descending) a dictionary by key value.

In [24]:
import operator
d = {'tulip': 2, 'rose': 4, 'sunflower': 3, 'lotus': 1}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d =sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {'tulip': 2, 'rose': 4, 'sunflower': 3, 'lotus': 1}
Dictionary in ascending order by value :  [('lotus', 1), ('tulip', 2), ('sunflower', 3), ('rose', 4)]
Dictionary in descending order by value :  [('rose', 4), ('sunflower', 3), ('tulip', 2), ('lotus', 1)]

##### 9. Write a Python program to add key to a dictionary. Go to the editor
Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [25]:
dict={0: 10, 1: 20}
dict[2]=30
print(dict)

{0: 10, 1: 20, 2: 30}

##### 10. Write a Pandas program to create and display a DataFrame from a specified dictionary data
which has the index labels.

In [26]:
exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data,index=labels)
df

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes